
<container>

  <spacer size="16"></spacer>
      <h1><%= content.GREETING %>, <%= name %></h1>
      <p><%= content.MESSAGE_INTRO%></p>
      <p><%= discount %>% <%= content.DISCOUNT_INFO%> <%= code %> <%=content.MESSAGE %>  <%= usedBy %></p>
</container>