
<container>

  <spacer size="16"></spacer>
      <h2>Hi, <%= name %></h2>
      <h4 class="lead">You have just placed an order. Your order details are: </h4>
      <p>Order Id: <%= orderId %></p>
      <p>Price: <%= price %></p>
      <p>Delivered Date: <%= delDate %></p>
      <p>Your Delivery Mode: <%= delMode %></p>
      <p>Delivering Address: <%= delAddress %></p>

  
</container>