
<container>

  <spacer size="16"></spacer>
      <h2><%= content.GREETING%> <%= name %></h2>
      <h4 ><%= content.MESSAGE%></h4>
      <p><%= content.ORDER_ID%> <%= orderId %></p>
      <p><%= content.PRICE%> <%= price %></p>
      <p><%= content.DELIVERING_DATE%> <%= delDate %></p>
      <p><%= content.DELIVERY_MODE%> <%= delMode %></p>
      <p><%= content.DELIVERING_ADDRESS%> <%= delAddress %></p>

  
</container>